In [33]:
pip install sas7bdat

Collecting sas7bdat
  Downloading sas7bdat-2.2.3.tar.gz (16 kB)
Requirement already satisfied: six>=1.8.0 in c:\users\rlagy\anaconda3\lib\site-packages (from sas7bdat) (1.15.0)
Building wheels for collected packages: sas7bdat
  Building wheel for sas7bdat (setup.py): started
  Building wheel for sas7bdat (setup.py): finished with status 'done'
  Created wheel for sas7bdat: filename=sas7bdat-2.2.3-py3-none-any.whl size=16301 sha256=dae42460d5d2939f9063fc50111d9f08b16fc38a241db9fabf883fdb2613f5ad
  Stored in directory: c:\users\rlagy\appdata\local\pip\cache\wheels\7f\b3\50\0ef27ea1b8d14375a602b74e4dc756cd626e9372c0c27f6ee2
Successfully built sas7bdat
Installing collected packages: sas7bdat
Successfully installed sas7bdat-2.2.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
from sas7bdat import SAS7BDAT
df19=SAS7BDAT('kyrbs2019.sas7bdat', encoding='CP949').to_data_frame()
df19

,OBS,mod_d,YEAR,CITY,CTYPE,CTYPE_SD,MH,SCHOOL,STYPE,STRATA,...,E_LT_F,E_LT_SF,E_LT_M,E_LT_SM,E_EDU_F,E_KRN_F,E_BORN_F,E_EDU_M,E_KRN_M,E_BORN_M
0,A107808,2020.01.10.,2019.0,서울,대도시,대도시,고등학교,특성화계고,남녀공학,2019_1,...,1.0,9999.0,1.0,9999.0,3.0,1.0,9999.0,3.0,1.0,9999.0
1,A107809,2020.01.10.,2019.0,서울,대도시,대도시,고등학교,특성화계고,남녀공학,2019_1,...,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0
2,A107810,2020.01.10.,2019.0,서울,대도시,대도시,고등학교,특성화계고,남녀공학,2019_1,...,1.0,9999.0,1.0,9999.0,2.0,1.0,9999.0,3.0,1.0,9999.0
3,A107811,2020.01.10.,2019.0,서울,대도시,대도시,고등학교,특성화계고,남녀공학,2019_1,...,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0
4,A107812,2020.01.10.,2019.0,서울,대도시,대도시,고등학교,특성화계고,남녀공학,2019_1,...,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57298,A144773,2020.01.10.,2019.0,전북,중소도시,중소도시,중학교,중학교,여학교,2019_99,...,1.0,9999.0,1.0,9999.0,2.0,1.0,9999.0,2.0,1.0,9999.0
57299,A144774,2020.01.10.,2019.0,전북,중소도시,중소도시,중학교,중학교,여학교,2019_99,...,1.0,9999.0,1.0,9999.0,2.0,1.0,9999.0,2.0,1.0,9999.0
57300,A144775,2020.01.10.,2019.0,전북,중소도시,중소도시,중학교,중학교,여학교,2019_99,...,1.0,9999.0,1.0,9999.0,2.0,1.0,9999.0,4.0,1.0,9999.0
57301,A144776,2020.01.10.,2019.0,전북,중소도시,중소도시,중학교,중학교,여학교,2019_99,...,2.0,9999.0,1.0,9999.0,3.0,1.0,9999.0,3.0,1.0,9999.0
57302,A144777,2020.01.10.,2019.0,전북,중소도시,중소도시,중학교,중학교,여학교,2019_99,...,1.0,9999.0,1.0,9999.0,2.0,1.0,9999.0,2.0,1.0,9999.0

# 대상 선정

### 남자, 청소년

In [76]:
df19_M = df19[df19.SEX==1]
df19_M

,OBS,mod_d,YEAR,CITY,CTYPE,CTYPE_SD,MH,SCHOOL,STYPE,STRATA,...,E_LT_F,E_LT_SF,E_LT_M,E_LT_SM,E_EDU_F,E_KRN_F,E_BORN_F,E_EDU_M,E_KRN_M,E_BORN_M
0,A107808,2020.01.10.,2019.0,서울,대도시,대도시,고등학교,특성화계고,남녀공학,2019_1,...,1.0,9999.0,1.0,9999.0,3.0,1.0,9999.0,3.0,1.0,9999.0
1,A107809,2020.01.10.,2019.0,서울,대도시,대도시,고등학교,특성화계고,남녀공학,2019_1,...,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0
2,A107810,2020.01.10.,2019.0,서울,대도시,대도시,고등학교,특성화계고,남녀공학,2019_1,...,1.0,9999.0,1.0,9999.0,2.0,1.0,9999.0,3.0,1.0,9999.0
3,A107811,2020.01.10.,2019.0,서울,대도시,대도시,고등학교,특성화계고,남녀공학,2019_1,...,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0
4,A107812,2020.01.10.,2019.0,서울,대도시,대도시,고등학교,특성화계고,남녀공학,2019_1,...,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57215,A143970,2020.01.10.,2019.0,전북,군지역,중소도시,중학교,중학교,남학교,2019_99,...,1.0,9999.0,1.0,9999.0,4.0,1.0,9999.0,4.0,2.0,5.0
57216,A143971,2020.01.10.,2019.0,전북,군지역,중소도시,중학교,중학교,남학교,2019_99,...,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0
57217,A143972,2020.01.10.,2019.0,전북,군지역,중소도시,중학교,중학교,남학교,2019_99,...,1.0,9999.0,1.0,9999.0,2.0,1.0,9999.0,2.0,1.0,9999.0
57218,A143973,2020.01.10.,2019.0,전북,군지역,중소도시,중학교,중학교,남학교,2019_99,...,1.0,9999.0,1.0,9999.0,2.0,1.0,9999.0,2.0,1.0,9999.0
57219,A143974,2020.01.10.,2019.0,전북,군지역,중소도시,중학교,중학교,남학교,2019_99,...,1.0,9999.0,1.0,9999.0,3.0,1.0,9999.0,3.0,1.0,9999.0

In [77]:
df19_target = df19_M[(df19_M['AGE'] >= 12) & (df19_M['AGE'] <= 18)]

In [78]:
df19_M['AGE'].value_counts()

14.0    5096
13.0    5048
15.0    5016
17.0    4876
16.0    4675
12.0    2542
18.0    2441
Name: AGE, dtype: int64

In [79]:
df19_M['AGE'].isnull().sum()

147

In [80]:
df19_target

,OBS,mod_d,YEAR,CITY,CTYPE,CTYPE_SD,MH,SCHOOL,STYPE,STRATA,...,E_LT_F,E_LT_SF,E_LT_M,E_LT_SM,E_EDU_F,E_KRN_F,E_BORN_F,E_EDU_M,E_KRN_M,E_BORN_M
0,A107808,2020.01.10.,2019.0,서울,대도시,대도시,고등학교,특성화계고,남녀공학,2019_1,...,1.0,9999.0,1.0,9999.0,3.0,1.0,9999.0,3.0,1.0,9999.0
1,A107809,2020.01.10.,2019.0,서울,대도시,대도시,고등학교,특성화계고,남녀공학,2019_1,...,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0
2,A107810,2020.01.10.,2019.0,서울,대도시,대도시,고등학교,특성화계고,남녀공학,2019_1,...,1.0,9999.0,1.0,9999.0,2.0,1.0,9999.0,3.0,1.0,9999.0
3,A107811,2020.01.10.,2019.0,서울,대도시,대도시,고등학교,특성화계고,남녀공학,2019_1,...,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0
4,A107812,2020.01.10.,2019.0,서울,대도시,대도시,고등학교,특성화계고,남녀공학,2019_1,...,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57215,A143970,2020.01.10.,2019.0,전북,군지역,중소도시,중학교,중학교,남학교,2019_99,...,1.0,9999.0,1.0,9999.0,4.0,1.0,9999.0,4.0,2.0,5.0
57216,A143971,2020.01.10.,2019.0,전북,군지역,중소도시,중학교,중학교,남학교,2019_99,...,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0
57217,A143972,2020.01.10.,2019.0,전북,군지역,중소도시,중학교,중학교,남학교,2019_99,...,1.0,9999.0,1.0,9999.0,2.0,1.0,9999.0,2.0,1.0,9999.0
57218,A143973,2020.01.10.,2019.0,전북,군지역,중소도시,중학교,중학교,남학교,2019_99,...,1.0,9999.0,1.0,9999.0,2.0,1.0,9999.0,2.0,1.0,9999.0
57219,A143974,2020.01.10.,2019.0,전북,군지역,중소도시,중학교,중학교,남학교,2019_99,...,1.0,9999.0,1.0,9999.0,3.0,1.0,9999.0,3.0,1.0,9999.0

# Target attribute 'BMI' 생성

In [81]:
df19_target['BMI'] = (df19_target['WT'] / (df19_target['HT'] / 100)**2)
df19_target.loc[df19_target['BMI'] < 25, 'BMI'] = 0
df19_target.loc[df19_target['BMI'] >= 25, 'BMI'] = 1

<ipython-input-81-084280083d89>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df19_target['BMI'] = (df19_target['WT'] / (df19_target['HT'] / 100)**2)
C:\Users\rlagy\anaconda3\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [82]:
df19_target['BMI'].value_counts()

0.0    23036
1.0     6023
Name: BMI, dtype: int64

In [83]:
df19_target

,OBS,mod_d,YEAR,CITY,CTYPE,CTYPE_SD,MH,SCHOOL,STYPE,STRATA,...,E_LT_SF,E_LT_M,E_LT_SM,E_EDU_F,E_KRN_F,E_BORN_F,E_EDU_M,E_KRN_M,E_BORN_M,BMI
0,A107808,2020.01.10.,2019.0,서울,대도시,대도시,고등학교,특성화계고,남녀공학,2019_1,...,9999.0,1.0,9999.0,3.0,1.0,9999.0,3.0,1.0,9999.0,0.0
1,A107809,2020.01.10.,2019.0,서울,대도시,대도시,고등학교,특성화계고,남녀공학,2019_1,...,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,0.0
2,A107810,2020.01.10.,2019.0,서울,대도시,대도시,고등학교,특성화계고,남녀공학,2019_1,...,9999.0,1.0,9999.0,2.0,1.0,9999.0,3.0,1.0,9999.0,1.0
3,A107811,2020.01.10.,2019.0,서울,대도시,대도시,고등학교,특성화계고,남녀공학,2019_1,...,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,1.0
4,A107812,2020.01.10.,2019.0,서울,대도시,대도시,고등학교,특성화계고,남녀공학,2019_1,...,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57215,A143970,2020.01.10.,2019.0,전북,군지역,중소도시,중학교,중학교,남학교,2019_99,...,9999.0,1.0,9999.0,4.0,1.0,9999.0,4.0,2.0,5.0,1.0
57216,A143971,2020.01.10.,2019.0,전북,군지역,중소도시,중학교,중학교,남학교,2019_99,...,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,8888.0,0.0
57217,A143972,2020.01.10.,2019.0,전북,군지역,중소도시,중학교,중학교,남학교,2019_99,...,9999.0,1.0,9999.0,2.0,1.0,9999.0,2.0,1.0,9999.0,1.0
57218,A143973,2020.01.10.,2019.0,전북,군지역,중소도시,중학교,중학교,남학교,2019_99,...,9999.0,1.0,9999.0,2.0,1.0,9999.0,2.0,1.0,9999.0,0.0
57219,A143974,2020.01.10.,2019.0,전북,군지역,중소도시,중학교,중학교,남학교,2019_99,...,9999.0,1.0,9999.0,3.0,1.0,9999.0,3.0,1.0,9999.0,0.0

In [84]:
df = df19_target

# 결측치 처리

1. 설문조사 특성상 모름, 무응답 (9999,8888,999,888 등) 처리
2. 결측치 10% 이상인 열 제거
3. 나머지 결측행 삭제

In [85]:
import numpy as np
for i in list(df.columns):
    df[i] = df[i].replace({9999:np.nan})
    df[i] = df[i].replace({8888:np.nan})
    df[i] = df[i].replace({999:np.nan})
    df[i] = df[i].replace({888:np.nan})
    df[i] = df[i].replace({99:np.nan})
    df[i] = df[i].replace({88:np.nan})

<ipython-input-85-e65e0d307efa>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = df[i].replace({9999:np.nan})
<ipython-input-85-e65e0d307efa>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = df[i].replace({8888:np.nan})
<ipython-input-85-e65e0d307efa>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = df[i].replace({999:np.nan})
<ipython-input-85-e65e0d307efa>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = df[i].replace({888:np.nan})
<ipython-input-85-e65e0d307efa>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = df[i].replace({99:np.nan})
<ipython-input-85-e65e0d307efa>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[i] = df[i].replace({88:np.nan})

In [86]:
# df에 있는 변수들 중 변수값이 9인 거를 포함하는 변수 확인
count_9 = 0
list_9 = []
for i in list(df.columns):
    if 9 in df[i].value_counts():
        count_9 += 1
        list_9.append(i)

print(count_9)
print(list_9)

# df에 있는 변수들 중 변수값이 8인 거를 포함하는 변수 확인
count_8 = 0
list_8 = []
for i in list(df.columns):
    if 8 in df[i].value_counts():
        count_8 += 1
        list_9.append(i)

print(count_8)
print(list_9)

14
['CLUSTER', 'F_CS_F09', 'PA_SWD_S', 'PA_SWK_S', 'PA_TRA_MM', 'M_SLP_HR_K', 'M_WK_HR_K', 'O_BR_FQ', 'HW_S_R', 'AC_FAGE', 'TC_FAGE', 'TC_DAGE', 'E_FM_NO_9', 'E_BORN_M']
25
['CLUSTER', 'F_CS_F09', 'PA_SWD_S', 'PA_SWK_S', 'PA_TRA_MM', 'M_SLP_HR_K', 'M_WK_HR_K', 'O_BR_FQ', 'HW_S_R', 'AC_FAGE', 'TC_FAGE', 'TC_DAGE', 'E_FM_NO_9', 'E_BORN_M', 'CLUSTER', 'F_BR', 'F_CS_F08', 'PA_TOT', 'PA_WLK', 'PA_SWD_S', 'PA_SWD_N', 'PA_SWK_S', 'PA_SWK_N', 'PA_TRA', 'PA_TRA_MM', 'M_WK_HR', 'M_SLP_HR_K', 'M_WK_HR_K', 'O_BR_FQ', 'HW_S_R', 'AC_FAGE', 'TC_FAGE', 'TC_DAGE', 'TC_SND_H', 'TC_SND_S', 'TC_SND_P', 'E_FM_YBS_8', 'E_BORN_F', 'E_BORN_M']

In [87]:
df.drop(['WT','HT','mod_d','YEAR','CITY','CTYPE','CTYPE_SD','MH','SCHOOL','STYPE','STRATA','STRATA_NM','CLUSTER','GROUP','W','OBS'],axis=1, inplace=True)

C:\Users\rlagy\anaconda3\lib\site-packages\pandas\core\frame.py:3990: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [88]:
import pandas as pd
a = (df.isnull().sum() >= 2964)
drop_columns_list = pd.DataFrame(a[a==True]).index
df.drop(drop_columns_list, axis=1, inplace=True)

In [89]:
df.dropna(inplace=True)

<ipython-input-89-c64f9f573c18>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.dropna(inplace=True)

# 다중공선성 체크
## (다중공선성 높은 변수 1개씩 제거하면서 VIF가 10미만일 때 stop)

In [90]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

# 다중공선성 확인
def check_vif(df):
    global vif
    vif = pd.DataFrame()
    vif["VIF Factor"] = [variance_inflation_factor(
        df.values, i) for i in range(df.shape[1])]
    vif["features"] = df.columns

In [91]:
for i in range(1000):
    check_vif(df)
    if len(vif[vif['VIF Factor'] >=10]) >=1:
        remove_col = vif[vif['VIF Factor'] >=10].sort_values('VIF Factor', ascending=False).iloc[0,1]
        df.drop(remove_col, axis=1, inplace=True)
        print('제거된 변수는', remove_col)
    else:
        display(vif)
        break

제거된 변수는 SEX
제거된 변수는 AGE_M
제거된 변수는 AGE
제거된 변수는 DR_EXP
제거된 변수는 M_SUI_ATT
제거된 변수는 M_SUI_PLN
제거된 변수는 TC_HTP_LT
제거된 변수는 INT_WK
제거된 변수는 TC_EC_LT
제거된 변수는 S_EDU
제거된 변수는 S_SI
제거된 변수는 PA_WLK
제거된 변수는 M_SUI_CON
제거된 변수는 AS_DG_LT
제거된 변수는 TC_LT
제거된 변수는 INT_WD
제거된 변수는 PR_BI
제거된 변수는 TC_GHW
제거된 변수는 M_WK_HR_K
제거된 변수는 F_WAT
제거된 변수는 HW_EDU
제거된 변수는 PR_OH
제거된 변수는 I_SB_BK
제거된 변수는 PA_PE_FQ
제거된 변수는 O_SCL
제거된 변수는 F_EDU
제거된 변수는 HW_SPML_S
제거된 변수는 AC_LT
제거된 변수는 HW_SPRM_H
제거된 변수는 M_SAD
제거된 변수는 M_SLP_EN
제거된 변수는 O_BR_SLP
제거된 변수는 O_SLNT
제거된 변수는 E_SES
제거된 변수는 ECZ_DG_LT

    VIF Factor    features
0     7.011757       PR_HT
1     4.876063        F_BR
2     6.010931     F_FRUIT
3     7.428697      F_SODA
4     3.916660  F_CAFFEINE
5     7.902012   F_SWDRINK
6     8.935033  F_FASTFOOD
7     7.874125       F_VEG
8     5.900466      F_MILK
9     5.702102        F_CS
10    6.463003      PA_TOT
11    9.764829      PA_VIG
12    4.934505      PA_MSC
13    1.565571   PA_WLK_MM
14    5.236268    PA_SWD_S
15    3.460071    PA_SWD_N
16    3.161225    PA_SWK_S
17    4.464043    PA_SWK_N
18    5.309286       PA_ST
19    4.841712      PA_TRA
20    4.487585       WC_MN
21    9.856350       M_STR
22    2.377553  M_SLP_HR_K
23    1.662821  M_SLP_MM_K
24    1.838860   M_WK_MM_K
25    7.215683     O_BR_FQ
26    8.812563      O_BR_S
27    4.348509     O_DC_FQ
28    1.167055     O_SYMP1
29    1.759831     O_SYMP2
30    1.579729     O_SYMP3
31    1.385045     O_SYMP4
32    1.297239     O_SYMP5
33    1.466251     O_SYMP6
34    9.330847       O_EDU
35    6.328818   HW_SPRM_S
36    8.851639   HW_SPML_H
37    7.380973   HW_SPGO_H
38    2.958380      HW_S_R
39    9.892600     I_SB_FR
40    7.532104     I_SB_EX
41    9.423212   I_SCH_TRT
42    7.485495       V_TRT
43    5.660497   AC_ACCESS
44    5.743679   TC_ACCESS
45    2.278827    TC_SND_H
46    2.674993    TC_SND_S
47    3.317986    TC_SND_P
48    8.981850    RH_DG_LT
49    7.585610    E_S_RCRD
50    4.459936       E_RES
51    7.857270       GRADE
52    8.897008        A_FM
53    1.331603         BMI

In [95]:
df.reset_index(drop=True, inplace=True)

In [99]:
df.to_csv('remove_vif.csv',encoding='CP949',index=False)